<div class = "container-fluid">
  <h3>Links</h3>
  <p>Current Outlet : {{this.path}}</p>
  <ul>
    <li><a routerLink = "home" routerLinkActive = "active">Home (/)</a></li>
    <li ><a (click) = "back()">Javascript back (window.history.back()</a></li>
    <li><a routerLink = "home" >Homepage as url (homepage)</a></li>
    <li><a routerLink = "pageA" >Page A as url (page-a)</a></li>
    <li><a routerLink = "pageB" >Page B as url (page-b)</a></li>
    <li><a routerLink = "pageC" >Page C as url (page-c)</a></li>
    <li><a routerLink = "**">This is a broken link</a></li>
  </ul>
</div>
