nav, h2 {
    background-color: blue;
}

h2 {
    text-align: center;
    margin: 15px;
}

.container-fluid {
    width: 85%;
    float: right;
    background-color: white;
}

* {
    background-color: white; 
}

app-links {
    background-color: white;
}